# Build files and output
/CommUnityWeb/bin/
/CommUnityWeb/obj/
/.vs/

# Sensitive files
*.json
Credentials/
appsettings.*.json

# IDE and tooling
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Miscellaneous
.DS_Store
Thumbs.db
